*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#parent{
    height: 100%;
    width: 100%;
    background-color:#F48F9F;
}
#left{
    height: 100%;
    width: 45%;
    background-image: url(https://images.unsplash.com/photo-1576248004793-2c21b24b7bcc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
    background-size: cover;
    background-position: center;
    color: white;
}
#leftparent{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.281);
}
#left h1{
    color: white;
}
#right{
    height: 65%;
    width: 22%;
    background-image: url(https://images.unsplash.com/photo-1578776704351-d900ace79a76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1604&q=80);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%,-50%);
}
#rightparent{
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}
#text{
    color: white;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 2px 18px;
}
#text h1{
    margin-left: 12%;
    margin-top: 3%;
}
 #text p{
    margin-left: 10%;
    margin-bottom: 15%;
    margin-top: 3%;
 }


