#box1 h1{
    font-size: 15px;
    margin-top: 60px;
    margin-left: 60px;
    font-weight: 500;
    font-family: sans-serif;
}
#box1 p{
    font-size: 14px;
    margin-left: 30px;
    font-weight: 80;
}
#box1 h5{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 78px;
    font-size: 10px;
    color: grey;
    background-color: transparent;
}
#box1 button{
    margin-top: 15px;
    margin-left: 58px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: rgba(0, 68, 255, 0.877);
    border-color: rgba(0, 68, 255, 0.877);
}

#box2{
    height: 38%;
    width: 16%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 10px rgba(36, 6, 6, 0.226);    
}
#box2 h1{
    font-size: 15px;
    margin-top: 60px;
    margin-left: 43px;
    font-weight: 500;
    font-family: sans-serif;
}
#box2 p{
    font-size: 14px;
    margin-left: 30px;
    font-weight: 80;
}
#box2 h5{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 78px;
    font-size: 10px;
    color: grey;
    background-color: transparent;
}
#box2 button{
    margin-top: 15px;
    margin-left: 58px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: rgba(0, 68, 255, 0.877);
    border-color: rgba(0, 68, 255, 0.877);
}
#box3{
    height: 38%;
    width: 16%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 20px 20px 20px 10px rgba(36, 6, 6, 0.226); 
}
#box3 h1{
    font-size: 15px;
    margin-top: 60px;
    margin-left: 60px;
    font-weight: 500;
    font-family: sans-serif;
}
#box3 p{
    font-size: 14px;
    margin-left: 30px;
    font-weight: 80;
}
#box3 h5{
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 87px;
    font-size: 10px;
    color: grey;
    background-color: transparent;
}
#box3 button{
    margin-top: 15px;
    margin-left: 58px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: rgba(0, 68, 255, 0.877);
    border-color: rgba(0, 68, 255, 0.877);
}
#box1 img{
    height: 25%;
    width: 25%;
    margin-top: 10%;
    margin-left: 40%;
}

